.login {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.login-section {
  max-width: 50%;
  margin: 2rem auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.login-form input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-accent);
  border-radius: 0.25rem;
}

.login-form input:focus {
  outline-color: var(--color-accent);
  outline-width: 0.75rem;
}
