.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu h2 {
  color: var(--color-gray);
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  justify-content: space-between;
  gap: 2rem;
}
