.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-section {
  width: 50%;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.register-form-select-profile-img {
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--color-accent);
}

.register-form-select-profile-img input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
