.basketCount {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-light-gray);
}

.basketCount p {
  color: var(--color-gray);
}
