.product {
  display: flex;
  flex-direction: column;
}

.productItem {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.productItem img {
  border-radius: 1.5rem;
  max-width: 450px;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productInfo nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.desc {
  opacity: 0.75;
}

.price {
  font-weight: 600;
  font-size: 1.25rem;
}

.price::before {
  content: "$";
}
