.promo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.promoList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.promoItem {
  position: relative;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
}

.promoItem:hover {
  transform: scale(1.015);
}

.promoItem h3 {
  color: var(--color-light-gray);
  z-index: 10;
}

.promoItem p {
  color: var(--color-light-gray);
  opacity: 0.75;
  z-index: 10;
}

.promoItem img {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: brightness(50%);
}
