.search {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
  padding: 0.5rem 1rem;
  background-color: var(--color-light-gray);
}

.search-wrapper {
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gray);
}

.search-wrapper input {
  border: none;
  outline: none;
  padding-right: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.search-wrapper input::placeholder {
  color: var(--color-gray);
}

.search__clear_btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-0.5rem, -50%);
  color: var(--color-gray);
  z-index: 10;
}

.search__magnify {
  cursor: pointer;
  color: var(--color-gray);
}
