.inputBox {
  margin: 0.5rem 0;
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.inputBox input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-accent);
  border-radius: 0.25rem;
}

.inputBox input:focus {
  outline-color: var(--color-accent);
  outline-width: 0.75rem;
}

.clear {
  cursor: pointer;
  position: absolute;
  bottom: calc(0.5rem + 2px);
  right: 0.5rem;
  color: var(--color-gray);
}

.clear:hover {
  color: var(--color-primary);
}
