.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-gray);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
