@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #000000;
  --color-red: #ff3a3a;
  --color-gray: #929292;
  --color-light-gray: #f9f9f9;
  --color-accent: #1440ff;

  --max-with: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary);
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

main,
.container {
  max-width: var(--max-with);
  width: 100%;
  margin: 1rem auto;
}

section {
  margin: 1rem 0;
}

h1 {
  font-size: 3rem;
  color: var(--color-primary);
}

h2 {
  font-size: 2rem;
  color: var(--color-primary);
}

h3 {
  color: var(--color-gray);
  font-size: 1.25rem;
}
